@font-face {
  font-family: "WordsFont";
  src: url("/static/puzzles/assets/b7e038f3764f3b05.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.charfont {
  font-family: "WordsFont";
}
