@font-face {
  font-family: "font1";
  src: url("/static/puzzles/assets/4291f48c2ea51320.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font1 {
  font-family: "font1";
}

@font-face {
  font-family: "font2";
  src: url("/static/puzzles/assets/4fba661c4cae7bc7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font2 {
  font-family: "font2";
}

@font-face {
  font-family: "font3";
  src: url("/static/puzzles/assets/b19fe67be934ca32.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font3 {
  font-family: "font3";
}

@font-face {
  font-family: "font4";
  src: url("/static/puzzles/assets/0fc6f5e9d9c3e206.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font4 {
  font-family: "font4";
}

@font-face {
  font-family: "font5";
  src: url("/static/puzzles/assets/180c8a28c98c8deb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font5 {
  font-family: "font5";
}

@font-face {
  font-family: "font6";
  src: url("/static/puzzles/assets/16198cdf533e781a.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font6 {
  font-family: "font6";
}

@font-face {
  font-family: "font7";
  src: url("/static/puzzles/assets/bd1bddfe37c8f3b7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font7 {
  font-family: "font7";
}

@font-face {
  font-family: "font8";
  src: url("/static/puzzles/assets/79e83e2c33811125.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font8 {
  font-family: "font8";
}
